.fourteen{
    background-color: rgb(0, 0, 255);}


    .thirteen{
        background-color: rgba(0, 0, 255 ,0.9);}
    
     
    .twelve{
        background-color: rgba(0, 0, 255 ,0.8);
    }

    .eleven{background-color: rgba(0, 0, 255 ,0.7);}

    .ten{background-color: rgba(0, 0, 255 ,0.5);}

    .nine{ background-color: rgba(0, 0, 255 ,0.3);}
    
    .eight{ background-color: rgba(0, 0, 255 ,0.1);}

    .Seven{background-color: rgb(255, 215, 0.9);}
    

    .six{background-color: rgba(220, 20, 60 ,0.2);}

    .five{background-color: rgba(220, 20, 60 ,0.3);}

    .four{background-color: rgba(220, 20, 60 ,0.4);}


    .three{background-color: rgba(220, 20, 60 ,0.6);}


    .two{background-color: rgba(220, 20, 60 ,0.8) }

    .one { background-color: rgb(220, 20, 60);}
